* {
  box-sizing: border-box;
}

.Btn {
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: white;




}

.container {
  width: 200px;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  box-shadow: 8px 12px 12px grey;
  border-radius: 8px;
  background-color: rgb(243, 148, 6);


}

.row {
  width: fit-content;
  margin: auto;
  padding: 10px;




}

button {
  border-radius: 10px;
  cursor: pointer;
  background-color: blanchedalmond;
  

}


