* {
  box-sizing: border-box;
}

.Btn {

  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  background-color: rgb(243, 148, 6);
  margin-top: 20px;




}

.container {
  width: 80%;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  box-shadow: 8px 12px 12px grey;
  border-radius: 8px;
  


}


.circleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: 100%;
  
}

.cirle{
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
button {
  border-radius: 10px;
  cursor: pointer;
  background-color: blanchedalmond;
  

}


